p {
  background: #0D91A1 ;
  margin: 30px 30px 30px 30px;
  padding: 30px 60px 50px 20px;
  font-size: 30px;
  font-family: font-family: 'Merriweather', serif;
  color: #015668;
  border: 5px solid #7DCE94;
  width: 300px;
}