body {
    font-family: 'Merriweather', serif;
    background-image: url(./images/pexels-fwstudio-129731.jpg);
    background-size: 100%; 
}


.gallery {
    width: 806px;
    margin: 160px auto 0px auto;
    display: flex;
    position: relative;
    align-items: center;
}

.image {
    width: 700px;
    margin: 0px 0px 0px 50px;
    padding: 0px;
    position: relative;
    border: none;
    height: 100%;
    
    border: solid black 3px;
}

.back, .forward {
    width: 50px;
    display: flex;
    position: absolute;
    flex-direction: column;
    background: rgba(184, 130, 30, 0);
    height: 100%;    
    justify-content: center;
    cursor: pointer;
    transition: .5s ease;
    margin: 0px;
    padding: 0px;   
}

.back {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; 
}

.forward {
    right: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.back:hover, .forward:hover {
    opacity: 0.8;
    background: rgb(189, 181, 168);

}

.description {
position: absolute;
bottom: 0px;
left: 0px;
width: 100%;
padding: 0px;
margin: 0px;
background: rgba(5, 4, 4, 0.6);
transition: font-size 0.7s;
}

.description:hover {
    font-size: 22px;
}

#photo {
    display: block;
    width: 100%;
}

#photo-title {
    color: white;
    font-weight: 300;
    margin: 8px 0px 2px 0px;
    padding-left: 25px;
    
}

#photo-description {
    color: darkgray;
    /* font-size: 20px; */
    margin-top: 8px;
    padding-left: 25px;
}

.thumbnail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* transition: top 1s, left 1s; */
}
.img {
    width: 100px;
    cursor: pointer;
    position: relative;
}

.img img {
    transition: .5s ease;
    padding: 2px;
    /* filter: grayscale(1); */
}

.hover {
    position: absolute;
    visibility: hidden;
    font-weight: bold;
    transition: .5s ease;
    text-align: center;
}

.img:hover {
    /* opacity:0.3; */
    filter: grayscale(0);
}

/* .img:hover .hover {
    visibility: visible;
    
} */